.todo-form {
    margin: 2rem;
    text-align: center;
}

.todo-form button {
    background-color: orange;
    color: #fff;
    width: 70px;
    border-style: none;
    margin-left: 0.5rem;
    cursor: pointer;
    height: 34px;
    font-size: 14px;
    font-weight: bold;
}

.todo-form button:hover {
    background-color: rgb(240, 177, 60);
}